@import "tailwindcss";

/* Hilangin scrollbar (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just to avoid a white box */
}

/* Hilangin scrollbar (Firefox) */
.scrollbar-hide {
  scrollbar-width: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors */
  --themered: #6b7280;
  --themewhite: #fff;
  --themeblack: #000;
  --themedk: #fa6800;
  --themeredhover: #7e2214;
  --themeorange: #9ca3af;
  --themeorangehover: #d28a0f;

  --light-bg: hsl(0 0% 95%);
  --light-bg-dark: hsl(0 0% 90%);
  --light-bg-light: hsl(0 0% 100%);
  --light-text: hsl(0 0% 5%);
  --light-text-muted: hsl(0 0% 30%);

  --dark-bg: hsl(0 0% 5%);
  --dark-bg-dark: hsl(0 0% 0%);
  --dark-bg-light: hsl(0 0% 10%);
  --dark-text: hsl(0 0% 95%);
  --dark-text-muted: hsl(0 0% 70%);
}

body {
  background-color: #e5e7eb; /* abu-abu muda */
}
